.page-content {
  margin-left: 250px; /* Espacio para el sidebar */
  margin-top: 60px; /* Espacio para el header */
  padding: 20px;
  height: calc(100vh - 60px); /* Ajusta la altura al layout */
  overflow-y: auto; /* Permite scroll solo en el contenido */
  box-sizing: border-box;
  background-color: #f8f9fa; /* Fondo claro para el contenido */
}

.actions-container {
  display: flex;
  justify-content: space-between; /* Alinea los extremos */
  align-items: center;
  margin-bottom: 20px;
}

.actions-left {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado uniforme entre barra de búsqueda y botón */
  padding: 5px;
  background: #f9f9f9; /* Fondo claro para resaltar */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.actions-right {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 22px;
  border: 1px solid #e2e8f0;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filter-button:hover {
  background-color: #f3f4f6;
}


.search-bar {
  width: 100%; /* Ocupará el espacio disponible */
  max-width: 400px; /* Limita el ancho máximo */
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.stat-item {
  text-align: center;
  background: white;
  border: 1px solid #e2e8f0;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-label {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 5px;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
  color: #007bff; /* Color azul para usuarios */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  background: white;
  color: #4a5568;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:disabled {
  background: #f8f9fa;
  color: #a0aec0;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
  color: #4a5568;
  font-weight: bold;
}
