.coming-soon-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  height: 100%; /* Usa toda la altura del contenedor */
  text-align: center;
  color: #2d3748; /* Color principal del texto */
  margin: 170px; /* Centrar horizontalmente si hay padding */
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e2e8f0; /* Borde claro */
  border-top: 6px solid #4a5568; /* Borde oscuro */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Animación de giro */
  margin-bottom: 20px; /* Espaciado */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.coming-soon-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.coming-soon-subtext {
  font-size: 1.2rem;
  color: #718096; /* Color del subtítulo */
  margin-top: 5px;
}
