.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que los elementos se alineen a los extremos */
  width: 100%;
  max-width: 300px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 0.3rem 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
  flex: 1;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  color: #495057;
  background-color: transparent;
  padding: 0.2rem;
}

.search-bar::placeholder {
  color: #adb5bd;
  font-size: 0.8rem;
}

.search-icon {
  color: #6c757d;
  font-size: 1.2rem;
  margin-left: 0.5rem; /* Añade espacio entre el input y el icono */
}

.search-bar-container:hover {
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.search-bar-container:focus-within {
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}
